{% extends 'stageapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Bedrijvengroepen
{% endblock title %}


{% block page_header %}
    <h1>Bedrijvengroepen</h1>
{% endblock page_header %}

{% block content %}

<div class="card mb-3">
        <table>
            <th class="card-header">Bedrijf</th>
            <th class="card-header">Adres</th>
            <th class="card-header"></th>
            <th class="card-header"></th>
            <th class="card-header"></th>
            <div class="card-body">
                <style>
                    tr:nth-of-type(even) {
                    background-color:#B0C4DE;
                    }
                    .checked {
                        color: blue;
                            }
                </style>
                {% for bedrijf in bedrijvengroep_list %}
                    <tr>
                        <td><a class="text-reset" href="{{ BedrijvenGroep.get_absolute_url }}">{{ bedrijf.bedrijfsgroep_naam }}</a></td>
                        <td>{{ bedrijf.adres }}  {{bedrijf.nummer}},  {{bedrijf.postcode}} {{bedrijf.plaats}}</td>
                        <td><small> <a href="{% url 'stageapp:bedrijvengroep_detail' bedrijf.id %}"><i class="fa-solid fa-pen-to-square"></i></a></small></td>
                        <td><small><a href="{% url 'stageapp:delete_bedrijvengroep' bedrijf.id %}"><i class="fas fa-trash"></i></a></small></td>
                        <td><small><a href="{% url 'stageapp:bedrijvengroep_alldata' bedrijf.id %}"><i class="fas fa-binoculars"></i></a></small></td>
                    </tr>

                {% empty %}
                    <td>Er zijn nog geen bedrijfsgroepen.</td>
                {% endfor %}
                </div>
         </table>
</div>
    <hr>
    <a href="{% url 'stageapp:create_bedrijvengroep' %}" class='btn btn-primary mt-3'>Toevoegen bedrijvengroep</a>
<div>
    <p class="pt-2">
      <a href="{% url 'stageapp:index' %}" role="button" class="btn btn-secondary w-100">Homepage</a>
    </p>
</div>

{% endblock content %}