{% extends 'stageapp/base.html' %}
{% load crispy_forms_tags %}

{% block page_header %}
    <h1> Update Evaluatie Criteria </h1>
{% endblock page_header %}

{% block content %}
    <div class="container mt-1" style="width:95%; font-size:12px">
        <form action = "" method='POST' class='card p-3 mt-1'>
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    <hr>
    <div>
        <p class="pt-2">
            <a href="{% url 'stageapp:edit_so' so.id %}" role="button" class='btn btn-primary mt-3'>Terug naar StageOpdracht</a>
            <a href="{% url 'stageapp:index' %}" role="button" class="btn btn-secondary w-100">Homepage</a>
        </p>
    </div>

{% endblock content %}