{% extends 'stageapp/base.html' %}
{% load crispy_forms_tags %}

{% block page_header %}
    <h1> Stageopdracht Evaluatie </h1>
    <h8>Stageopdracht: {{ so.stage_opdracht }} > Student: {{ so.studenten }} > Begeleider: {{ so.contactpersonen }} > Student Begeleider: {{ so.leerkrachten }}</h8>
{% endblock page_header %}

{% block content %}
<div class="container mt-1" style="width:95%; font-size:12px">
    <form action = "" method='POST' class='card p-3 mt-1'>
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
<div>
    <p class="pt-2">
        <a href="{% url 'stageapp:edit_so' so.id %}" role="button" class='btn btn-primary mt-3'>Terug naar StageOpdracht</a>
        <a href="{% url 'stageapp:view_so_evaluatie_details' soe.id %}" role="button" class='btn btn-primary mt-3'>Naar evaluatie criteria</i></a>
        <a href="{% url 'stageapp:index' %}" role="button" class="btn btn-secondary w-100">Homepage</a>
    </p>
</div>
{% endblock content %}