{% extends 'stageapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Scholen lijst
{% endblock title %}


{% block page_header %}
    <h1>Scholen lijst</h1>
    <h8>Scholengroep: {{ sg.scholen_groep_naam }} </h8>
{% endblock page_header %}

{% block content %}

<div class="card mb-3">
        <table>
            <th class="card-header">School</th>
            <th class="card-header">Adres</th>
            <th class="card-header"></th>
            <th class="card-header"></th>
            <th class="card-header"></th>
            <th class="card-header"></th>
            <div class="card-body">
                <style>
                    tr:nth-of-type(even) {
                    background-color:#B0C4DE;
                    }
                    .checked {
                        color: blue;
                            }
                </style>
                {% for s in scholen %}
                    <tr>
                        <td><a class="text-reset" href="{{ s.get_absolute_url }}">{{ s.school_naam }}</a></td>
                        <td>{{ s.adres }}  {{s.nummer}},  {{s.postcode}} {{s.plaats}}</td>
                        <td><small> <a href="{% url 'stageapp:edit_school' s.id %}"><i class="fa-solid fa-pen-to-square"></i></a></small></td>
                        <td><small><a href="{% url 'stageapp:delete_school' s.id %}"><i class="fas fa-trash"></i></a></small></td>
                        <td><small><a href="{% url 'stageapp:view_opleidingen' s.id %}"><i class="fas fa-certificate"></i></a></small></td>
                        <td><small><a href="{% url 'stageapp:view_sch_leerkrachten' s.id %}"><i class="fa-solid fa-user-tie"></i></a></small></td>
                    </tr>

                {% empty %}
                    <tr colspan="5">
                        <td>Er zijn nog geen scholen.</td>
                    </tr>
                {% endfor %}
                </div>
         </table>
</div>
<div>
    <p class="pt-2">
        <a href="{% url 'stageapp:view_scholengroepen'%}" class='btn btn-primary mt-3'>Naar scholengroepen overzicht</a>
        <a href="{% url 'stageapp:create_school' sg.id %}" class='btn btn-primary mt-3'>Toevoegen school</a>
        <a href="{% url 'stageapp:index' %}" role="button" class="btn btn-secondary w-100">Homepage</a>
    </p>
</div>

{% endblock content %}