
{% extends 'stageapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Schooljaren Lijst
{% endblock title %}


{% block page_header %}
    <h1>Schooljaren Lijst</h1>
{% endblock page_header %}

{% block content %}

<div class="card mb-3">
        <table>
            <th class="card-header">Schooljaar</th>
            <th class="card-header"></th>
            <th class="card-header"></th>
            <div class="card-body">
                <style>
                    tr:nth-of-type(even) {
                    background-color:#B0C4DE;
                    }
                    .checked {
                        color: blue;
                            }
                </style>
                {% for s in sj %}
                    <tr>
                        <td>{{ s.schooljaar }}</td>
                        <td><small> <a href="{% url 'stageapp:edit_schooljaar' s.id %}"><i class="fa-solid fa-pen-to-square"></i></a></small></td>
                        <td><small><a href="{% url 'stageapp:delete_schooljaar' s.id %}"><i class="fas fa-trash"></i></a></small></td>
                    </tr>

                {% empty %}
                    <tr colspan="5">
                        <td>Er zijn nog geen schooljaren.</td>
                    </tr>
                {% endfor %}
                </div>
         </table>
</div>
<div>
    <p class="pt-2">
        <a href="{% url 'stageapp:create_schooljaar' %}" class='btn btn-primary mt-3'>Toevoegen schooljaar</a>
        <a href="{% url 'stageapp:index' %}" role="button" class="btn btn-secondary w-100">Homepage</a>
    </p>
</div>

{% endblock content %}