{% extends 'stageapp/base.html' %}

{% block page_header %}
    <h1>Test Entry</h1>
{% endblock page_header %}

{% block content %}
    <p>test paragraaf</p>
    <p><i class="fa-regular fa-pen-to-square"></i></p>
    <p><i class="fa-regular fa-hand"></i> </p>
    <p><i class="fa-regular fa-trash"></i> </p>
    <p><i class="fa-regular fa-binoculars"></i> </p>
    <span style ="font-size: 18px; color:Dodgerblue;">
        <p><i class="fa-regular fa-binoculars"></i> </p>
    </span>
    <span style ="font-size: 18px; color:Red;">
        <p><i class="fa-regular fa-trash"></i> </p>
    </span>
{% endblock content %}